html{
    height: 100%;
}

body {
    height: 100%;
}
.container {
    width: 100%;
    max-width: none;
    margin-left: 0px;
    margin-right: 0px;
}

main {
    min-height: calc(100% - 80px);
    padding-top: 20px;
}

.const {
    display: none;
}

.big-icon {
    font-size: 96px ! important;
}

.medium-icon {
    font-size: 64px ! important;
}

.medium-small-icon {
    font-size: 48px ! important;
}

.medium-text {
    font-size: 14px ! important;
}